html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

/*Typography*/
body {
        line-height: 2;
        text-align:left;
        list-style-type: none;
  }

h1 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
  }

  .header{
  border-bottom-width: 20px;
  border-bottom: 1px solid;
  padding: 10px 0px;
  }

h2 {
    font-size: 22px;
    font-weight: bold;
    color:darkblue;
    opacity: 0.5;
    } 

h4, h5,h6{
    font-size: 19px;
    font-weight: bold;
    text-align: left;
  }
h3{
  text-align: left;
  font-size: 16px;
}

a {
  color:black;
  text-decoration:none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

div.paperlist a{
  border-bottom: none;
}

h2 a{ 
    color:darkblue;
    opacity: 1;
    border-bottom: none;
}

nav a{
  border-bottom: none;
}

a:hover {
  border-radius: 30px;
  border-bottom: none;
  background-color: lavender;
}
s{
  background-color: gainsboro;
}
/*Layout*/

nav{
  position: fixed;
  text-align: center;
  
}
header{
  display: none;
}

@media screen and (max-width:1100px)
{
  nav{
    display: none;
  }
  header{
    font-size: 19px;
    display: flex;
  }
  header li{
    margin:0px 30px;
  }
  
}

nav h2{
  text-align: center;
  margin:200px 0px 0px 80px;
}

nav ul{
  margin-left: 50px;
}

ul.sidebar{
  list-style-type: none;
  font-size: 18px;
  line-height: 50px;
}


div h2{
  text-align: center;
}

blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 0.9em;
  margin: 1em 0;
  padding: 0 2em;
  border-left: 3px solid #ddd;
}

.code{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  background-color: darkgray;
  opacity: 0.5;
}
.main{
  width: 520px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 100px;
  border-left: 2px solid gainsboro;
  border-right: 2px solid gainsboro;
  min-height: calc(100vh - 60px);
  text-align: justify; 
}

.indent{
  text-indent: 2em;
}

.paperlist{
  padding-left: 170px;
  padding-top: 0px;
  
  }

.name{
  margin: 30px 0px;
  text-align: center;
  color: darkblue;
  opacity: 0.5;
  font-weight: bold;
  
}


.rightside{
  margin: 30px 0px;
  text-align: right;
  color: black;
  opacity: 0.5;
  font-weight: bold;
  
}

.footer{
  width: 300px;
  text-align: center;
  margin: 60px 110px 20px 110px;
  padding-top: 30px;
  border-top: 1px solid black;
}
.date{
  color: darkblue;
  opacity: 0.5;
  font-weight: bold;
}


/*页面变化布局变化*/ 
/*选定仅文本，而不是整个页面宽度*/ 
/* @media*/